<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168534594782-k1t93j46d1f8turn9kroc58f0ph7ngr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168534594782-k1t93j46d1f8turn9kroc58f0ph7ngr9</string>
	<key>API_KEY</key>
	<string>AIzaSyBp0Cp5_y2dbiDpR7QdDFKLIkCmyab7euQ</string>
	<key>GCM_SENDER_ID</key>
	<string>168534594782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playfootballme</string>
	<key>PROJECT_ID</key>
	<string>playfootball-me</string>
	<key>STORAGE_BUCKET</key>
	<string>playfootball-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168534594782:ios:e5b7af3fe2819637499e4f</string>
</dict>
</plist>